{% extends 'base.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block body %}

 <section class="box-content box-3" id="staff">
        <div class="container">
            {% for commentaire in commentaires %}
            <div class="row heading">
             <div class="jumbotron">
                <div class="col-lg-12">
                    <h2>{{ commentaire.titre }}, {{ commentaire.createdAt ? commentaire.createdAt|date('d-m-Y') : '' }}</h2>
                </div>
                <div class="row center">
                    
                    <div class="col-md-12">
                        <div class="row">
                            <h5>{{ commentaire.message }}</h5>
                
                        </div>
                    </div>
                </div>
                </div>
                {% endfor %}
                 
            </div>
        </div>
    </section>

{% endblock %}
